<!DOCTYPE html>
<html lang="zxx">
    <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="stylesheet" href="../../assets/css/plugins/fancybox.min.css">
  <link rel="stylesheet" href="../../assets/css/plugins/swiper.min.css">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<head>




    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>The Coding Verse</title>


    
</head>


<body>

    <!-- wrapper -->



        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

         
                <!-- about -->
             
                <!-- about end -->

                <!-- services -->
          
                <!-- services end -->

                <!-- team -->
                <!-- <section>
                    <div class="container mil-p-120-30">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-5 col-xl-4" >

                                <div class="mil-mb-90">
                                    <h2 class="mil-up mil-mb-60">Meet <br>Our Team</h2>




                                <div class="mil-team-list">
                                    <div class="mil-lines-place"></div>

                                    <div class="row " >
                                        <div style="display: flex; height: 330px; margin: auto ;justify-content: center;align-items: center;" >

                                       



                                            <div class="mil-team-card mil-up mil-mb-30"   
                                            style="width: 300px;
                                                height: 300px;padding: 10px;">
                                                <img src="../../assets/img/faces/customers/WhatsApp Image 2024-06-15 at 14.13.57.jpeg" alt="Team member" style="width: 300px;
                                                height: 300px;padding: 10px;">
                                                <div class="mil-description" style="width: 300px;
                                                height: 300px;padding: 10px;">
                                                    <div class="mil-secrc-text">
                                                        <h5 class="mil-muted mil-mb-5"><a href="home-2.html">Daha Qalbi </a></h5>
                                                        <p class="mil-link mil-light-soft mil-mb-10">Full Stack Developer</p>
                                                        <ul class="mil-social-icons mil-center">
                                                            <li><a href="" target="" class="social-icon"> <i class="fab fa-behance"></i></a></li>
                                                            <li><a href="" target="" class="social-icon"> <i class="fab fa-dribbble"></i></a></li>
                                                            <li><a href="" target="" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
                                                            <li><a href="" target="" class="social-icon"> <i class="fab fa-github"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="mil-team-card mil-up mil-mb-30"   
                                            style="width: 300px;
                                                height: 300px;padding: 10px;">
                                                <img src="../../assets/img/faces/customers/WhatsApp Image 2024-06-15 at 14.32.41.jpeg" alt="Team member" style="width: 300px;
                                                height: 300px;padding: 10px;">
                                                <div class="mil-description" style="width: 300px;
                                                height: 300px;padding: 10px;">
                                                    <div class="mil-secrc-text">
                                                        <h5 class="mil-muted mil-mb-5"><a href="home-2.html">Asif Ludhyanvi </a></h5>
                                                        <p class="mil-link mil-light-soft mil-mb-10">Full Stack Developer</p>
                                                        <ul class="mil-social-icons mil-center">
                                                            <li><a href="" target="" class="social-icon"> <i class="fab fa-behance"></i></a></li>
                                                            <li><a href="" target="" class="social-icon"> <i class="fab fa-dribbble"></i></a></li>
                                                            <li><a href="" target="" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
                                                            <li><a href="" target="" class="social-icon"> <i class="fab fa-github"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            



                                            <div class="mil-team-card mil-up mil-mb-30" style="width: 300px;
                                                height: 300px;padding: 10px;">
                                                <img src="../../assets/img/faces/customers/WhatsApp Image 2024-06-15 at 14.13.53.jpeg" alt="Team member" style="width: 300px;
                                                height: 300px;padding: 10px;">
                                                <div class="mil-description" style="width: 300px;
                                                height: 300px;padding: 10px;">
                                                    <div class="mil-secrc-text">
                                                        <h5 class="mil-muted mil-mb-5"><a href="home-2.html">Raheel Hashmi</a></h5>
                                                        <p class="mil-link mil-light-soft mil-mb-10">Front-end Developer</p>
                                                        <ul class="mil-social-icons mil-center">
                                                            <li><a href="" target="" class="social-icon"> <i class="fab fa-behance"></i></a></li>
                                                            <li><a href="" target="" class="social-icon"> <i class="fab fa-dribbble"></i></a></li>
                                                            <li><a href="" target="" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
                                                            <li><a href="" target="" class="social-icon"> <i class="fab fa-github"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>







                                           

                                        </div>
                                    </div>

                                </div>

                       


                                    <p class="mil-up mil-mb-30">We are talented individuals who are passionate about bringing ideas to life. With a diverse range of backgrounds and skill sets, we collaborate to produce effective solutions for our clients.</p>

                                    <p class="mil-up mil-mb-60">Together, our creative team is committed to delivering impactful work that exceeds expectations.</p>

                                    <div class="mil-up"><a href="" class="mil-button mil-arrow-place mil-mb-60"  style="background: rgb(0, 180, 120);"><span>Read more</span></a></div>

                                    <h4 class="mil-up"><span class="mil-thin">We</span> delivering <br><span class="mil-thin">exceptional</span> results.</h4>
                                </div>

                            </div>
                          
                        </div>
                    </div>
                </section> -->
                <!-- team end -->

                <!-- reviews -->
         

      
                <!-- footer -->
      
                <!-- footer end -->

                <!-- hidden elements -->
           
                <!-- hidden elements end -->

            </div>
        </div>
        <!-- content -->
    <!-- wrapper end -->

    <!-- jQuery js -->
    <script src="../../assets/js/plugins/jquery.min.js"></script>
    <!-- swup js -->
    <script src="../../assets/js/plugins/swup.min.js"></script>
    <!-- swiper js -->
    <script src="../../assets/js/plugins/swiper.min.js"></script>
    <!-- fancybox js -->
    <script src="../../assets/js/plugins/fancybox.min.js"></script>
    <!-- gsap js -->
    <script src="../../assets/js/plugins/gsap.min.js"></script>
    <!-- scroll smoother -->
    <script src="../../assets/js/plugins/smooth-scroll.js"></script>
    <!-- scroll trigger js -->
    <script src="../../assets/js/plugins/ScrollTrigger.min.js"></script>
    <!-- scroll to js -->
    <script src="../../assets/js/plugins/ScrollTo.min.js"></script>
    <!-- ashley js -->
    <script src="../../assets/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>